<nav>
    <ul>
        <li>default</li>
        <li{{#if isCategoryA}} class="cur"{{/if}}><a href="/">トップ</a></li>
        <li{{#if isCategoryA}} class="cur"{{/if}}><a href="/category_a/">category a</a></li>
        <li{{#if isCategoryB}} class="cur"{{/if}}><a href="#DUMMY">category b</a></li>
        <li{{#if isCategoryC}} class="cur"{{/if}}><a href="#DUMMY">category c</a></li>
        <li{{#if isCategoryD}} class="cur"{{/if}}><a href="#DUMMY">category d</a></li>
        <li{{#if isCategoryE}} class="cur"{{/if}}><a href="#DUMMY">category e</a></li>
    </ul>
</nav>